<div class="starter">
	<div class="container voting-page">
		<div class="row">
			<div class="col-xs-10 col-md-2">
				<div class="voting-time-wrapper">
					<time class="icon" datetime="2014-09-20">
						<em>{{voting.formattedYear}}</em>
						<strong>{{voting.formattedMonth}}</strong>
						<span>{{voting.formattedDay}}</span>
					</time>
				</div>
			</div>
			<div class="col-xs-10 col-md-8">
				<h3>{{voting.title}}</h3>
				<h4>{{voting.text}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="tab-wrapper">
				<div class="container">
				<tabset>
					<tab heading="Sí ({{votes_distribution['Yes'].count}})">
						<div class="list-group">
							<a ng-click="viewMember(vote)" class="list-group-item" ng-repeat="vote in votes_distribution['Yes'].votes">
								<div class="col-xs-10 col-md-2">
									<img src="http://placehold.it/75x75" class="img-thumbnail" alt="75x75" style="width: 75px; height: 75px;">
								</div>
								<div class="col-xs-10 col-md-8">
									<p>{{vote.name}} <small>{{vote.group}}</small></p>
								</div>
							</a>
						</div>
					</tab>
					<tab heading="No ({{votes_distribution['No'].count}})">
						<div class="list-group">
							<a ng-click="viewMember(vote)" class="list-group-item" ng-repeat="vote in votes_distribution['No'].votes">
								<div class="col-xs-10 col-md-2">
									<img src="http://placehold.it/75x75" class="img-thumbnail" alt="140x140" style="width: 75px; height: 75px;">
								</div>
								<div class="col-xs-10 col-md-8">
									<p>{{vote.name}} <small>{{vote.group}}</small></p>
								</div>
							</a>
						</div>
					</tab>
					<tab heading="Se abstienen ({{votes_distribution['Abstaining'].count}})">
						<div class="list-group">
							<a ng-click="viewMember(vote)" class="list-group-item" ng-repeat="vote in votes_distribution['Abstaining'].votes">
								<div class="col-xs-10 col-md-2">
									<img src="http://placehold.it/75x75" class="img-thumbnail" alt="140x140" style="width: 75px; height: 75px;">
								</div>
								<div class="col-xs-10 col-md-8">
									<p>{{vote.name}} <small>{{vote.group}}</small></p>
								</div>
							</a>
						</div>
					</tab>
					<tab heading="No Votan ({{votes_distribution['NoVote'].count}})">
						<div class="list-group">
							<a ng-click="viewMember(vote)" class="list-group-item" ng-repeat="vote in votes_distribution['NoVote'].votes">
								<div class="col-xs-10 col-md-2">
									<img src="http://placehold.it/75x75" class="img-thumbnail" alt="140x140" style="width: 75px; height: 75px;">
								</div>
								<div class="col-xs-10 col-md-8">
									<p>{{vote.name}} <small>{{vote.group}}</small></p>
								</div>
							</a>
						</div>
					</tab>
				</tabset>
			</div>
			</div>
		</div>
	</div>
</div>