<div class="starter">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<img src="{{member.picture_url}}" alt=""> 
			</div>
			<div class="col-xs-12 col-md-10">
				<h3>{{member.name}}</h3>
				<h4>{{member.location}}</h4>
				<p ng-repeat="item in member.personal_list track by $index">
					{{item}}
				</p>
			</div>
		</div>
		<div class="row">
			<tabset>
				<tab heading="Votaciones">
					<div class="container">
						<div class="voting-row row" ng-repeat="voting in votings">
							<div class="col-md-2">
								<time class="icon" datetime="2014-09-20">
									<em>{{voting.formattedYear}}</em>
								  	<strong>{{voting.formattedMonth}}</strong>
								  	<span>{{voting.formattedDay}}</span>
								</time>
							</div>
							<div class="col-md-7">
								<h4>{{voting.title}}</h4>
								<p>{{voting.text}}</p>
								<p>{{voting.session}}, {{voting.order}}</p>
							</div> 
							<div class="col-md-3">
								<!--<p>{{voting.session}}, {{voting.order}}</p>-->
								<div class="personal-vote voting-box {{voting.voteClass}}">
									<p>{{member.name}}: <strong>{{voting.vote}}</strong></p>
								</div>
								<div class="voting-box {{voting.resultClass}}">
									<p>Votos a favor: {{voting.votes_for}}</p>
									<p>Votos en contra: {{voting.votes_against}}</p>
									<p>Votos en blanco: {{voting.votes_blank}}</p>
									<p>Abstenciones: {{voting.votes_abstaining}}</p>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Comisiones">
					<div ng-repeat="c in member.committee_list">
						<p>{{c.name}}</p>
						<p>{{c.role}}</p>
						<p>{{c.url}}</p>
					</div>
				</tab>
			</tabs>
		</div>
	</div>
</div>